<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
 
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>



<br>

<h1 id="tady">Tady bude přehled boardů</h1>

<br>
<%= link_to 'New Board', new_project_board_path(@project)%>