<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<%= link_to 'Edit', edit_project_board_path(@board.project,@board) %> |
<%= link_to 'Back', project_boards_path(@board.project) %>
