<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  
	  <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
	  


	  <% if user_signed_in? %>
	    <%=link_to "Odhlasit se", destroy_user_session_url, method: :delete%>
		
		<%else%>
		
  	 	 <%= link_to "Přihlásit", new_user_session_url %>

  	 	 <%= link_to "Registrace", new_user_registration_url%>
	  <%end%>
	  
	  
    <%= yield %>
  </body>
</html>
